<aside class="sidebar">
  {% if AUTHOR_ABOUT %}
  <section>
    <h1>About</h1>
    {{ AUTHOR_ABOUT }}
  </section>
  {% endif %}

  {% if MAILCHIMP_SIGNUP_URL %}
  <section>
    <h1>Subscribe</h1>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
    <form action="{{ MAILCHIMP_SIGNUP_URL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <small>Want to be notified via email for new posts? Enter your email and subscribe below:</small>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_08bce05591e0f2951f25b8188_c95682f4da" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </section>
  {% endif %}

  <section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      {% for article in articles[:5] %}
      <li class="post">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% if DISPLAY_CATEGORIES and categories %}
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_posts">
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} 

  <section>
  <h1>Tags</h1>
  {% for tag, article in tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
  </section>

  {% include '_includes/github.html' %}
  {% include '_includes/social.html' %}
  {% include '_includes/links.html' %}
  {% include '_includes/twitter_sidebar.html' %}
  {% include '_includes/gplus_sidebar.html' %}
</aside>
